.layout-cargo-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-height: 0;
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.cargo-list-empty {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  text-align: center;
}
