.pack-form {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
  background-color: var(--color-bg-alt);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
}

.pack-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pack-form label {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-neutral);
  white-space: nowrap;
}

.pack-form-field:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.pack-form-field:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.pack-form-field:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

.pack-form-field:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.pack-form-field:nth-of-type(5) {
  grid-column: 2;
  grid-row: 3;
}

.pack-form-field > input[name="name"] {
  color: var(--color-neutral-900);
  border: none;
  outline: none;
  background: transparent;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  width: 100%;
}

.pack-form-field > input[name="name"]:hover {
  border-bottom-color: var(--color-neutral-300);
}

.pack-form-field > input[name="name"]:focus {
  border-bottom-color: var(--color-primary);
}

.pack-form-field > input[name="name"]::placeholder {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-neutral-400);
}

/* .container-form__input--error { */
/*   border-color: var(--color-danger); */
/* } */

/* .container-form__input--error:focus { */
/*   outline-color: var(--color-danger); */
/*   border-color: var(--color-danger); */
/* } */

/* .container-form__error { */
/*   font-size: var(--font-size-sm); */
/*   color: var(--color-danger); */
/*   margin-top: var(--spacing-xs); */
/* } */
