.pack-panel {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 20px;
  background-color: var(--color-bg-alt);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
}

.pack-panel-data {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 30px;
  margin: 0;
  padding: 0;
}

.data-tuple {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: space-between;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

.data-tuple dt {
  font-weight: 600;
  color: var(--color-neutral);
  margin: 0;
  padding: 0;
}

.data-tuple dd {
  color: var(--color-neutral-900);
  padding: 0;
}

/* Pack name */
.data-tuple:nth-child(1) {
  justify-content: start;
  grid-column: 1 / 3;
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.data-tuple:nth-child(1) dt {
  display: none;
}
.data-tuple:nth-child(1) dd {
  margin: 0;
}

/* Container length */
.data-tuple:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

/* Container width */
.data-tuple:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

/* Container height */
.data-tuple:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

/* Container weight */
.data-tuple:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}

/* Container max weight */
.data-tuple:nth-child(6) {
  grid-column: 1;
  grid-row: 6;
}

/* Cargo count */
.data-tuple:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
}

/* Pending cargo */
.data-tuple:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}

/* Loaded cargo */
.data-tuple:nth-child(9) {
  grid-column: 2;
  grid-row: 4;
}

/* Container volume */
.data-tuple:nth-child(10) {
  grid-column: 2;
  grid-row: 5;
}

/* Container remainder volume */
.data-tuple:nth-child(11) {
  grid-column: 2;
  grid-row: 6;
}

.pack-panel-controls {
  align-content: flex-end;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
}
