.layout-cargo-loader {
  width: 100%;
  height: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: var(--spacing-lg);
}

.layout-container-configurator {
  grid-column: 1;
  grid-row: 1;
}

.layout-cargo-configurator {
  grid-column: 1;
  grid-row: 2;
}

.layout-cargo-list {
  grid-column: 1;
  grid-row: 3;
  overflow: auto;
  min-height: 0;
}

.layout-pack-renderer {
  grid-column: 2;
  grid-row: 1 / -1;
  overflow: auto;
  min-height: 0;
}
